#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "System Libraries and NSH Add-Ons"
source "$APPSDIR/system/cdcacm/Kconfig"
source "$APPSDIR/system/cfgdata/Kconfig"
source "$APPSDIR/system/cle/Kconfig"
source "$APPSDIR/system/composite/Kconfig"
source "$APPSDIR/system/critmon/Kconfig"
source "$APPSDIR/system/cu/Kconfig"
source "$APPSDIR/system/dhcpc/Kconfig"
source "$APPSDIR/system/embedlog/Kconfig"
source "$APPSDIR/system/flash_eraseall/Kconfig"
source "$APPSDIR/system/hex2bin/Kconfig"
source "$APPSDIR/system/hexed/Kconfig"
source "$APPSDIR/system/i2c/Kconfig"
source "$APPSDIR/system/lm75/Kconfig"
source "$APPSDIR/system/lzf/Kconfig"
source "$APPSDIR/system/mdio/Kconfig"
source "$APPSDIR/system/netdb/Kconfig"
source "$APPSDIR/system/nsh/Kconfig"
source "$APPSDIR/system/ntpc/Kconfig"
source "$APPSDIR/system/nxplayer/Kconfig"
source "$APPSDIR/system/nxrecorder/Kconfig"
source "$APPSDIR/system/ping/Kconfig"
source "$APPSDIR/system/ping6/Kconfig"
source "$APPSDIR/system/popen/Kconfig"
source "$APPSDIR/system/prun/Kconfig"
source "$APPSDIR/system/ramtest/Kconfig"
source "$APPSDIR/system/readline/Kconfig"
source "$APPSDIR/system/sched_note/Kconfig"
source "$APPSDIR/system/setlogmask/Kconfig"
source "$APPSDIR/system/stackmonitor/Kconfig"
source "$APPSDIR/system/sudoku/Kconfig"
source "$APPSDIR/system/symtab/Kconfig"
source "$APPSDIR/system/system/Kconfig"
source "$APPSDIR/system/taskset/Kconfig"
source "$APPSDIR/system/tee/Kconfig"
source "$APPSDIR/system/telnet/Kconfig"
source "$APPSDIR/system/termcurses/Kconfig"
source "$APPSDIR/system/ubloxmodem/Kconfig"
source "$APPSDIR/system/usbmsc/Kconfig"
source "$APPSDIR/system/vi/Kconfig"
source "$APPSDIR/system/zmodem/Kconfig"
endmenu # System Libraries and NSH Add-Ons
